In [3]:
import pyodbc

def fetch_data_from_database(server, database, username, password, query):
    connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"
    try:
        with pyodbc.connect(connection_string) as conn:
            cursor = conn.cursor()
            cursor.execute(query)
            rows = cursor.fetchall()
            return rows
    except pyodbc.Error as e:
        print("Error connecting to the database:", e)
        return []

# Example usage:
server = 'INBAAVVMMSUSQL'
database = 'MSU_2019'
username = 'msu_user'
password = 'Password@123'
query = "SELECT CONCAT(petID, '@', Name) AS ConcatenatedColumn FROM [dbo].[Pets] WHERE Kind = 'cat';"
result = fetch_data_from_database(server, database, username, password, query)
print(result)

[('F6-5391@Cookie', ), ('G0-8531@Sojourner', ), ('G6-6501@Jake', ), ('G9-0817@Kashi', ), ('H2-8586@Antigone', ), ('I5-4893@Cookie', ), ('L4-2594@Newcastle', ), ('L4-4205@Rumba', ), ('L8-0046@Rumba', ), ('M0-2904@Simba', ), ('M2-1131@Rumba', ), ('M4-9675@Jeep', ), ('M8-7852@Cookie', ), ('N0-9539@Swiffer', ), ('N7-6805@Enyo', ), ('P1-2578@Tiger', ), ('P7-2443@Rumba', ), ('P9-6519@Cookie', ), ('Q0-2001@Roomba', ), ('Q8-0954@Lakshmi', ), ('S4-2254@Draper', ), ('T0-3277@Humbert', ), ('T2-2142@Stowe', ), ('U0-5987@Ebenezer', ), ('U4-5113@Tiger', ), ('V4-6172@Sarosh', ), ('W8-5750@Simba', ), ('X6-4876@Brandy', ), ('Z4-4045@Simba', ), ('Z4-5652@Priya', ), ('Z6-3226@Simba', )]

In [4]:
import pyodbc

def fetch_data_from_database(server, database, username, password, query):
    connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"
    try:
        with pyodbc.connect(connection_string) as conn:
            cursor = conn.cursor()
            cursor.execute(query)
            rows = cursor.fetchall()

            # Extract and concatenate names from the rows
            concatenated_names = ', '.join(row[0] for row in rows)

            return concatenated_names
    except pyodbc.Error as e:
        print("Error connecting to the database:", e)
        return ""

# Example usage:
server = 'INBAAVVMMSUSQL'
database = 'MSU_2019'
username = 'msu_user'
password = 'Password@123'
query = "SELECT CONCAT(petID, '@', Name) AS ConcatenatedColumn FROM [dbo].[Pets] WHERE Kind = 'cat';"
result = fetch_data_from_database(server, database, username, password, query)
print(result)

F6-5391@Cookie, G0-8531@Sojourner, G6-6501@Jake, G9-0817@Kashi, H2-8586@Antigone, I5-4893@Cookie, L4-2594@Newcastle, L4-4205@Rumba, L8-0046@Rumba, M0-2904@Simba, M2-1131@Rumba, M4-9675@Jeep, M8-7852@Cookie, N0-9539@Swiffer, N7-6805@Enyo, P1-2578@Tiger, P7-2443@Rumba, P9-6519@Cookie, Q0-2001@Roomba, Q8-0954@Lakshmi, S4-2254@Draper, T0-3277@Humbert, T2-2142@Stowe, U0-5987@Ebenezer, U4-5113@Tiger, V4-6172@Sarosh, W8-5750@Simba, X6-4876@Brandy, Z4-4045@Simba, Z4-5652@Priya, Z6-3226@Simba

In [17]:
import pyodbc

def fetch_data_from_database(server, database, username, password, query):
    connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"
    try:
        with pyodbc.connect(connection_string) as conn:
            cursor = conn.cursor()
            cursor.execute(query)
            rows = cursor.fetchall()

            # Extract and concatenate names from the rows into a list
            concatenated_names = [row[0] for row in rows]

            return concatenated_names
    except pyodbc.Error as e:
        print("Error connecting to the database:", e)
        return []

# Example usage:
server = 'INBAAVVMMSUSQL'
database = 'MSU_2019'
username = 'msu_user'
password = 'Password@123'
query = "SELECT CONCAT(petID, '@', Name) AS ConcatenatedColumn FROM [dbo].[Pets] WHERE Kind = 'parrot';"
result = fetch_data_from_database(server, database, username, password, query)
print(result)

['F1-1855@Bandit', 'H8-8856@Bandit', 'I2-7926@Dior', 'J2-4382@Dexter', 'K4-5012@Natacha', 'O1-7229@Dexter', 'O8-2501@Bandit', 'Q0-3593@Oakley', 'Q2-3642@Thatcher', 'R3-7551@Keller', 'X0-8765@Vuitton', 'X7-2632@Maripol']

In [18]:
len(result)

12

In [19]:
import os

def rename_pictures_by_names(names_list, pictures_folder):
    picture_files = os.listdir(pictures_folder)

    for name, filename in zip(names_list, picture_files):
        current_path = os.path.join(pictures_folder, filename)
        new_filename = os.path.join(pictures_folder, f"{name}.jpg")

        try:
            os.rename(current_path, new_filename)
            print(f"Renamed '{filename}' to '{name}.jpg'")
        except FileNotFoundError:
            print(f"Error: '{filename}' not found in the folder.")
        except FileExistsError:
            print(f"Error: '{name}.jpg' already exists in the folder.")

# Example usage:
names_list = result  # Replace this with your list of names
pictures_folder = r'C:\Users\Avinash.dangat\Documents\Qlik\Sense\Apps\pet_pics\parrot'  # Replace this with the path to your folder containing the pictures
rename_pictures_by_names(names_list, pictures_folder)

Renamed '00RBYC1YIDLR.jpg' to 'F1-1855@Bandit.jpg'
Renamed '0BSBZQ43C3BY.jpg' to 'H8-8856@Bandit.jpg'
Renamed '1CB8X92SQTSQ.jpg' to 'I2-7926@Dior.jpg'
Renamed '1KIKGGBEOHF9.jpg' to 'J2-4382@Dexter.jpg'
Renamed '1LI2OYN0S3PD.jpg' to 'K4-5012@Natacha.jpg'
Renamed '1P87SNOHYXXW.jpg' to 'O1-7229@Dexter.jpg'
Renamed '2A4HN2SC9J4O.jpg' to 'O8-2501@Bandit.jpg'
Renamed '6NZVICXJR72R.jpg' to 'Q0-3593@Oakley.jpg'
Renamed '7G4WQQDMO0W0.jpg' to 'Q2-3642@Thatcher.jpg'
Renamed '7W2TOPPIM81P.jpg' to 'R3-7551@Keller.jpg'
Renamed 'AGBIDFTJGZA2.jpg' to 'X0-8765@Vuitton.jpg'
Renamed 'AP6NK1U5BP5E.jpg' to 'X7-2632@Maripol.jpg'